<!--

  Lansite Custom Box Templates
  By Tanner Krewson

-->


<!--

Add ALL custom templates to this file in the following format:

<template id="TemplateBox">
	<div class="jumbotron">
		
		CUSTOM HTML HERE

	</div>
</template>

<script src="js/boxes/TemplateBox.js"></script>

-->


