<div class="jumbotron">
  <h1>Welcome to the LAN</h1>
  <p class="lead">Sign in with your Steam account to get started.</p>
  <p><a href="/auth/steam"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" alt="Sign in using Steam"></a></p>
</div>
