<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-left">
			<li role="presentation"><a href="http://www.example.org/"><- Back to example.org</a></li>
		</ul>
	</nav>
	<h3 class="text-muted pull-right">Lansite</h3>
</div>