<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Lansite</title>
</head>

<body>
    <div class="container">
        {{>navbar}}
        <br>
        <br>
        {{{body}}}
        <footer class="footer" style="text-align: center;">
            <hr>
            Lansite by <a href="https://www.tannerkrewson.com/" target="_blank">Tanner Krewson</a>
            <br/>
            <a href="https://github.com/tannerkrewson/lansite" target="_blank">View on GitHub</a>
            <br/><br/>
        </footer>
        <!--/.row-->
    </div>
    <!-- /container -->

    {{>scripts_base}}

</body>

</html>
