<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Lansite</title>
</head>

<body>
    <div class="container">
        {{>navbar}}
        <br>
        <br>
        {{{body}}}
        <footer class="footer">
            <p>Lansite by Tanner Krewson - <a href="https://github.com/tannerkrewson/lansite">View on Github</a></p>
        </footer>
        <!--/.row-->
    </div>
    <!-- /container -->
    {{>scripts}}

    </script>
</body>

</html>
