<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <title>Lansite</title>
</head>

<body>
    <div class="container">
        {{>navbar}}
        <br>
        <br>
        {{{body}}}
        <footer class="footer">
            <hr>
            Lansite by Tanner Krewson
            <br>
            <a href="http://www.tannerkrewson.com/">www.tannerkrewson.com</a>
        </footer>
        <!--/.row-->
    </div>
    <!-- /container -->

    {{>scripts_base}}

</body>

</html>
