<!--

  Lansite Popup Template
  By Tanner Krewson

-->

<div id="TemplatePopup" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				Header
			</div>
			<div class="modal-body">
				Body
			</div>
			<div class="modal-footer">
				Footer
			</div>
		</div>
	</div>
</div>