<!--

    Lansite Box HTML Template Template
    By Tanner Krewson
    
-->

<!--
    Ctrl+H replace TemplateBox with what you will be calling your custom box,
    and make sure to name your file the same name.
-->

<template id="TemplateBox">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">

            CUSTOM HTML HERE

        </div>
    </div>
</template>

<script src="js/boxes/TemplateBox.js"></script>p