<!--

  Lansite Box HTML Template Template
  By Tanner Krewson

-->

<!--
	Ctrl+H replace TemplateBox with what you will be calling your custom box,
	and make sure to name your file the same name.
-->

<template id="TemplateBox">
	<div class="jumbotron">
		
		CUSTOM HTML HERE

	</div>
</template>

<script src="js/boxes/TemplateBox.js"></script>