<!--

  Lansite MatchBox HTML Template
  By Tanner Krewson

-->

<template id="MatchBox">
	<div class="jumbotron">
		<h3 class="lead" align="left">Match Finder</h3>
		<h4 class="matchboxempty" style="text-align:center">No one is looking for players!</h4>
		<div class="matches">

		</div><br/>
		<button class="btn btn-primary pull-right matchadd" type="button" data-toggle="modal" data-target="#MatchBox-Popup">+Find players</button><br/>
	</div>
</template>

<template id="MatchBox-match">
	<div class="input-group match">
		<span class="input-group-addon matchstring" style="width: 100%; text-align: left;">
				error
	    </span>
	    <span class="input-group-addon">
	    	<button class="btn btn-default dropdown-toggle matchcounter" type="button" id="matchdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">X
			</button>
			<ul class="dropdown-menu matchusers" aria-labelledby="matchdropdown">
			</ul>
	    	<button class="btn btn-primary matchaccept" type="button">I'll play!</button>
	    	<button class="btn btn-danger matchcancel" type="button"hidden>Dropout</button>
	    </span>
    </div>
</template>

<script src="js/boxes/MatchBox.js"></script>