<!--

  Lansite RequestBox HTML Template
  By Tanner Krewson

-->

<template id="RequestBox">
    <div class="panel panel-primary">
	    <div class="panel-heading">
		    <h3 class="panel-title">Request</h3>
		</div>
		<div class="panel-body">
		    <h3 class="lead requesttext" align="left">Error</h3>
		    <button class="btn btn-default requestdeny" type="button">Deny</button>
		    <button class="btn btn-primary requestaccept" type="button">Accept Request</button>
		</div>
    </div>
</template>

<script src="js/boxes/RequestBox.js"></script>