<!--

  Lansite RequestBox HTML Template
  By Tanner Krewson

-->

<template id="RequestBox">
    <div class="jumbotron">
        <h3 class="lead requesttext" align="left">Error</h3>
        <button class="btn btn-default requestdeny" type="button">Deny</button>
        <button class="btn btn-primary requestaccept" type="button">Accept Request</button>
    </div>
</template>

<script src="js/boxes/RequestBox.js"></script>