<!--

  Lansite TextBox HTML Template
  By Tanner Krewson

-->

<template id="TextBox">
	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h3 class="panel-title">Error: The title was not applied correctly.</h3>
		</div>
		<div class="panel-body">
		    <h4 class="message" align="left">Error: The text was not applied correctly.</h4>
		</div>
	</div>
</template>

<script src="js/boxes/TextBox.js"></script>