<!--

  Lansite TextBox HTML Template
  By Tanner Krewson

-->

<template id="TextBox">
	<div class="jumbotron">
		<div class="message" align="left"><h3>Error: The text was not applied correctly.</h3></div>
	</div>
</template>

<script src="js/boxes/TextBox.js"></script>