<!--

  Lansite VoteBox HTML Template
  By Tanner Krewson

-->

<template id="VoteBox">
	<div class="jumbotron">
		<h3 class="lead" align="left">Vote: </h3>
		<div class="choices">
		</div>
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
			</span>
			<input type="text" class="form-control voteadd" placeholder="Add a game...">
		</div><!-- /input-group -->
	</div>
</template>

<template id="VoteBox-choice">
	<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-default choicevotes" type="button">+0</button>
		</span>
		<input type="text" class="form-control choicename" readonly="readonly" value="error">
		<span class="input-group-btn">
			<button class="btn btn-default choicedownvotebutton" type="button"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></button>
			<button class="btn btn-default choicevotebutton" type="button"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></button>
		</span>
	</div><!-- /input-group -->
</template>

<script src="js/boxes/VoteBox.js"></script>